.App {
  text-align: center;
}

.weatherFont {
  font-size: 14px;
  font-family:cursive;
}
.warmest {
  color:black;
}
.coldest {
  color: rgb(92, 91, 91);
}

.dropdown {
  width: 240px;
  background-color: #ffd24d;
}
.activebg {
  background-color: #f7d264;
}
.datefont {
  font-size: 10px;

}
.footer {
  bottom: 0;
  position:relative;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}